{% macro get_waste_state(waste) %}
{% set sensor = "sensor.sr_waste_" +  waste %}
{% set fullString =  states(sensor) %}    
{% set daysTo = fullString.split("|")[1] %}
{{ daysTo }}     
{% endmacro %} 